/******* GENERAL *******/
/* spacing on all sections */

#about,
#skills,
#portfolio,
#contact {
    margin-top: 2rem;
    padding-top: 2rem;
}
#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
    margin-bottom: 3rem;
}
#contact {
    padding-bottom: 4rem;
}
.row {
    justify-content: center;
}

h6 {
    font-size: 25px;
    font-weight: bold;
}

/* display background dark color on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #5b5b5b;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.95);
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(0, 180, 255, 0.75);
}

/* hero background image */
.bgimage {
    height: 100vh;
    max-height: 900px;
    background: url("images/Galaxy.webp");
    background-size: cover;
    position: relative;
    z-index: 3;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    background-color: transparent;
}
.hero_desc {
    font-size: 2rem;
    background-color: transparent;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #000;
    opacity: 0.5;
    left: 0px;
}

/* about */
.imageAboutPage {
    width: 100%;
}
.imageAboutPage {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* skills */
.skillsText.card, .personalSkillsText.card {
    height: 350px;
    cursor: pointer;
}
.skillsText img, .personalSkillsText img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

#skills p {
    text-align: center;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #008000;
}

.card-img-top {
    width: 100%;
}

.skillsText:hover, .personalSkillsText:hover {
    border: 1px solid #008000;
}

#personal_skills h3 {
    padding-top: 20px;
}

.container {
    position: relative;
    z-index: 3;
}

/* portfolio */
#portfolio p {
    text-align: center;
}

#personal_portfolio_future .card-img-top {
    height: 200px;
}

#personal_portfolio_future {
    padding-top: 20px;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #198754;
}

.honeypot {
    display: none;
}

/* footer */

.footer {
    background-color: black;
    background-image: linear-gradient(147deg,#794ebd,#000 80%);
    padding: 20px 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#portfolioCarousel {
    width: 75%;
    padding-left: 50px;
    padding-right: 50px;
}

.carousel-item {
    height: 100px;
    background-image: linear-gradient(147deg,#5f35a1,#080808 80%);
}

.footer_logo {
    height: 100px;
    padding-left: 50px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1023.9px) {

    #about, #skills, #portfolio, #contact {
        padding-top : 0;
    }

    #about h2, #skills h2, #portfolio h2, #contact h2 {
        margin-bottom: 1.5rem;
    } 

    .bgimage {
        height: 50vh;
    }

    .hero_title {
        font-size: 3rem;
    }

    .hero_desc {
        font-size: 1.5rem;
    }

    .container_img {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .text_about {
        text-align: justify;
    }

    .imageAboutPage {
        width: 50%;
    }

    .col-lg-4 {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 80%;
    }



    .btn_carousel {
        width: 100%;
        height: 100%;
        position: absolute;
        top:0px;
        border: none;
        z-index: 1;
        font-size: 0px;
    }

    .btn_carousel:hover {
        background-color : rgba(0, 0, 0, 0);
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    #skills p {
        text-align : justify;
    }

    .hero_title {
        font-size: 1.5rem;
    }

    .hero_desc {
        font-size: 1rem;
    }

    .imageAboutPage {
        display: none;
    }

    .skillsText img, .personalSkillsText img {
        height: 100px;
    }

    .skillsText.card, .personalSkillsText.card {
        height: auto;
    }

    .card {
        width: 80%;
    }

    #personal_portfolio_future .card-img-top {
    height: auto;
}

.footer_logo {
    height: 75px;
    padding-left: 25px;
}

.mb-2 {
    font-size: 11px;
    text-align: justify;
}

}